<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Redis Flask Counter Application</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>

<body>
  <div class="container">
    <section class="hero has-background-danger-dark is-bold">
      <div class="hero-body">
        <div class="container">
          <h1 class="title has-text-white has-text-centered">
            Redis Flask Bloom Filter Application
          </h1>
          <button id="populate" class="button is-large is-success">Populate BF and Set with common English words</button>
        </div>
      </div>
    </section>
    <div class="box">
      <section class="section">
        <div class="card">
          <div class="card-content">
            <p id="timeValue" class="title has-text-centered">{{time}}</p>
            <p id="checkValue" class="title has-text-centered">{{check}}</p>
          </div>
          <footer class="card-footer">
            <p class="card-footer-item">
              <button id="checkbloom" class="button is-large is-success">Check Bloom Filter</button>
              <button id="checkset" class="button is-large is-success">Check Set</button>
              <input type="text" id="checkthing">
            </p>
            <p class="card-footer-item">
              <button id="addbloom" class="button is-large is-success">Add to Bloom Filter</button>
              <button id="addset" class="button is-large is-success">Add to Set</button>
              <input type="text" id="addthing">
            </p>
            <p class="card-footer-item">
              <button id="resetBtn" class="button is-large is-danger">Reset</button>
            </p>
          </footer>
        </div>
      </section>
    </div>
    <footer class="footer">
      <div class="content has-text-centered">
        <p>
          A fork of the Redis Flask Counter Application by <a href="https://developer.redis.com/">Redis Developer Relations</a>.  An example 
          application using <a href="https://redis.io/">Redis</a>, <a href="https://flask.palletsprojects.com/">Flask</a> and <a href="https://bulma.io/">Bulma</a>.
        </p>
        <p><a href="https://github.com/redis-developer/gitpod-flask-redis">Original source code is available on GitHub</a>.</p>
      </div>
    </footer>
  </div>
  <script type="text/javascript" src="{{ url_for('static', filename = 'app.js') }}"></script>
</body>

</html>